	

	body, html {
		width: 100%;
		height: 100%;
		font-family: 'Josefin-Sans', sans-serif;
	}


	@font-face {
		font-family:"Josefin-Sans";
		src: url("../fonts/Josefin-Sans/JosefinSans-Light.ttf")
	}

	@font-face {
		font-family:"Josefin-Sans-bold";
		src: url("../fonts/Josefin-Sans/JosefinSans-Bold.ttf")
	}


	.navbar {
		padding: 20px 0;
		-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
		-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
		transition: background .5s ease-in-out,padding .5s ease-in-out;
		background: none;
		border: none;
	}

	.top-nav-collapse {
		padding: 0;
		background-color: rgba(51,51,51,1);
	}
	
	.navbar-default .navbar-nav > li > a:active ,
	.navbar-default .navbar-nav > li > a:visited ,
	.navbar-default .navbar-nav > li > a:focus {
		color: rgba(255,255,255,1);
	}

	.navbar-default .navbar-nav > li > a {
		color: rgba(255,255,255,1);
	}

	.active > a {
		background-color: rgba(255,255,255,1) !important;
		color: red !important;
	}

	.navbar-default .navbar-nav > li > a:hover {
		color: rgba(255,255,255,0.8);
	}

	.navbar-brand {
		color: rgba(255,255,255,1) !important;
		font-weight: 900;
		font-size: 200%;
		display: none;
	}

	.home {
		background: url(../images/home.jpg) no-repeat center top;
	}

	.banner_text {
		color: rgba(0,0,0,1);
	}

	.banner_text h4 {
		font-size: 3em;
	}

	.banner_text h1 {
		font-size: 6.5em;
	}

	section {
		min-height: 100%;
	}

	section hr {
		width: 50%;
		border-color: rgba(239,64,53,1);
	}

	.inner_line {
		border-color: rgba(51,51,51,1);
	}

	section h1 {
		font-family:'Josefin-Sans', sans-serif;
	}

	section .title {
		margin-top: 50px;
	}

	.services_section {
		background-color: rgba(204,204,204,0.5);
	}

	.services_section .fa {
		font-size: 5.5em;
	}

	.services_section .content_row , .process_section .content_row {
		margin-top: 15%;
	}

	.services_section h3 , .process_section h3{
		margin-bottom: 5%;
		font-weight: bold;
	}

	.services_section li , .process_section li {
		text-align: left;
		font-size: 1.5em;
	}

	.quote {
		margin-top: 10%;
		margin-left: auto; 
		margin-right: auto;
	}

	.process_section .fa {
		font-size: 3.5em;
	}


	.place_background {
		background: url(../images/place.jpg) no-repeat center bottom;
		background-size: 100%;
		min-height: 50%;
	}

	footer {
		background-color: rgba(51,51,51,1);
		border-top: 10px solid rgba(251,51,51,1);        /*rgba(0,138,193,1);*/
	}

	footer , footer .fa{
		color: rgba(251,251,251,1);
		font-size: 1.5em;
	}

	footer a {
		color: rgba(251,251,251,1);
		font-size: 1em;
	}

	footer a:hover, footer a:focus {
		color: rgba(251,251,251,1) ;
	}

	.contact_info, .social_contact, .copyright {
		margin-top: 3.5%;
	}

	.fa {
		font-size: 2em;
	}

	@media screen and (min-width: 750px) {
		section {
			padding-top: 20px;
		}

		footer {
			min-height: 50%;
			margin-top: -50px;
		}

		footer hr , .inner_line {
			display: none;
		}

		.home {
			background-size: 100%;
		}
	}

	@media screen and (max-width: 750px) {

		body {
			overflow-x: hidden;
		}

		.banner_text {
			top: 0;
			margin-top: 0;
		}

		hr {
			width: 80%;
		}

		.navbar-toggle {
			display: none;
		}
	}